@use 'styles/normalize';
@use 'styles/fonts';
@use 'styles/colors';
@use 'styles/breakpoints';
@use 'styles/mixins';

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: colors.$gray;
  color: colors.$dark-gray;
  text-align: center;
  padding: 20px;
  @include mixins.shadow-border;
  max-width: 300px;
  margin: 40px auto;
  gap: 10px;
}
