$primary: #008080;
$secondary: #ffffff;
$gray: #f5f5f5;
$dark-gray: #333;
$primary-text-color: #1D1D1B;
$secondary-text-color: #ffffff;
$pastel-yellow: #FFD700;
$pastel-blue: #ADD8E6;
$pastel-green: #98FB98;
$pastel-pink: #FFB6C1;
$pastel-purple: #9370DB;
$pastel-orange: #FFA500;

$white: #ffffff;
$black: #1D1D1B;
$shadow: rgba(0, 0, 0, 0.1);