@use 'styles/normalize';
@use 'styles/fonts';
@use 'styles/colors';
@use 'styles/breakpoints';
@use 'styles/mixins';

.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  @include mixins.sidePaddings;
}
