@use 'styles/normalize';
@use 'styles/fonts';
@use 'styles/colors';
@use 'styles/breakpoints';
@use 'styles/mixins';
.gender-chart{
    @include mixins.shadow-border;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}