@use 'styles/normalize';
@use 'styles/fonts';
@use 'styles/colors';
@use 'styles/breakpoints';
@use 'styles/mixins';
.age-card{
    @include mixins.shadow-border;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-grow: 1;
    position: relative;
    justify-content: space-between;
    align-items: center;
    .age-card__content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
        justify-content: space-around;
    }
    .age-icon{
        font-size: 100px;
        color: colors.$primary;
    }
}